<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>TRIPPLAN</title>
</head>
<body>
    <header>
        <nav>
            <img class="menu" src="../media/menu.svg">
            <img class="search" src="../media/search.svg">
        </nav>
    </header>

    <main class="container">
        <div class ="headline">
            Youn new adventure starts here.
        </div>
        <form class="form">
          <div class ="holder">
            <label for="location">Where to?</label>
            <input type="text" id="location" placeholder="Enter a location (e.g. Vietnam)"> 
          </div>
          <div class ="holder">
            <label for="date">When to?</label>
            <input type="date" id="departure" class="date" placeholder="Departure">
            <input type="date" id="return" class="date" placeholder="Return">
          </div>
        </form>
        <button class="btn-large" id="generate" type = "submit">SUBMIT</button>
        <div id="error-msg">This is an error</div>
    </main>
    <footer>Powered by @Udacity</footer>
</body>
</html>
