$primary-color: #3FCDAA;
$secondary-color: #fafafa;
$body-color: #0B0B0B;
$medium-heading-desk: 2em;
$small-heading: 1.5em;
$hover-color: #189e7d;
$error-color: #d30000;

header {
    padding: 12px 20px;
    height: 50px;
    transition: ease all .5s;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        width: 25px;
    }
    h2 {
        font-size: $medium-heading-desk;
    }
}

.container {
    color: $body-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $primary-color;
    position: relative;
}

.btn-return {
    width: 170px;
    height: 38px;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: $small-heading;
    text-align: center;
    margin: 10px auto;
    border: none;
    border-radius: 3px;
    padding-top: 5px;
    display: none;
    cursor: pointer;
    transition: ease all .5s;
    &:hover {
        background-color: $hover-color;
        color: $secondary-color;
    }
}

#error-msg {
    font-size: 1em;
    text-align: center;
    color: $error-color;
    display: none;
    min-width: 300px;
    min-height: 25px;
    margin: 10px;
    background-color: $secondary-color;
    padding: 5px;
    border-radius: 5px;
}

footer {
    width: 100%;
    background-color: $primary-color;
    text-align: center;
    padding: 12px 0;
    color: $secondary-color;
    font-size: 0.8em;
    a {
      color: $secondary-color;
      &:hover {
          color: $body-color;
      }
      &:visited {
          color: $secondary-color;
      }
    }

}

@media print {
    .container {-webkit-print-color-adjust: exact;}
    .no-print, .no-print *
    {
        display: none !important;
    }
  }