$large-heading-mob: 3em;
$large-heading-desk: 5em;
$medium-heading-desk: 2em;
$secondary-color: #fafafa;

/* Mobile view */
@media only screen and (max-width:600px){
    .headline {
        font-size: $large-heading-mob;
        color: $secondary-color;
        text-align: center;
        width: 50%;
        margin: 15px auto;
    }
    .btn-large {
        top: 580px;
    }
}

/* Tablet & Desktop view */
@media only screen and (min-width: 600px){
    .headline {
        font-size: $large-heading-desk;
        color: $secondary-color;
        text-align: center;
        width: 50%;
        margin: 15px auto;
    }
    .holder label {
        font-size: $medium-heading-desk;
    }

    .form {
        min-width: 540px;
        max-width: 660px;
        height: 350px;
    }
    .btn-large {
        font-size: $medium-heading-desk;
        width: 320px;
        padding: 5px 0;
        top: 620px;
    }
    header {
        height: 70px;
        padding: 20px 30px;
    }
    nav img {
        width: 30px;
    }
    #error-msg {
        top: 670px;
    }
}